<div class="header-container">
  <header class="wrapper clearfix">
    <h1 class="title"><%= t :app_title %></h1>
    <nav>
      <ul>
        <li><%= link_to t("menu.book"), books_path,
          class: action_name=='index' ? "selected":"none" %>
        <li><%= link_to t("menu.author"), authors_author_path,
          class: action_name=='author' ? "selected":"none" %>
        <li><%= link_to t("menu.about"), books_about_path,
          class: action_name=='about' ? "selected":"none" %>
      </ul>
    </nav>
  </header>
</div>